* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(45, 126, 55);
    text-align: center;
  }
  
  .container {
    height: 65vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 50vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
  }
  
  .box {
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(150, 21, 21, 0.3);
    font-size: 8vmin;
    color: #0b0b0b;
    background-color: #eed21b;
  }
  
  #reset-btn {
    padding: 1.2rem;
    font-size: 1.25rem;
    background-color: #94868b;
    color: #0a0909;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #111211;
    color: #e80c0c;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #f7ed3a;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }